* {
    padding: 0;
    margin: 0;
//border: 1px solid red;
}

.wrapper1 {
    display: grid;
    width: 60%;
    margin: auto;
    grid-template-columns: repeat(4, 1fr);
    align-content: center;
    padding-top: 2%;
}

.label {
    padding: 10px;
    text-align: center;
    font-size: 18px;
    border: 1px solid grey;
    background-color: greenyellow;
    color: white;
}

.wrapper2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-content: center;
    width: 60%;
    margin: auto;
}

.text {
    padding: 10px;
    text-align: center;
    font-size: 18px;
    border: 1px solid black;
    background-color: grey;
    color: black;
}

.updateWr1 {
    margin: 5% auto 0 auto;
    width: 48.5%;
    padding: 10px;
    background-color: black;
    border: 1px solid grey;
}

.updateWr2 {
    display: grid;
    width: 50%;
    margin: auto;
    grid-template-columns: repeat(3, 1fr);
    align-content: center;
}

.updateWr3 {
    display: grid;
    width: 50%;
    margin-left: 25%;
    grid-template-columns: repeat(3, 1fr);
}

h2 {
    text-align: center;
    color: white;
}

.space {
    text-align: center;
    padding: 10px;
    border: 1px solid black;
    background-color: grey;
}

input {
    width: 70%;
}

.forSubmit {
    margin-top: 2%;
    text-align: center;
}

.goBack {
    margin-top: 2%;
    text-align: center;
}

.btn {
    font-size: 15px;
    padding: 5px;
}