* {
    padding: 10px;
    margin: 10px;
}

.menu ul li {
    display: inline-block;
}

.menu ul ul {
    position: absolute;
    display: none;
}

#head {
    position: relative;
    margin: 30px 0 0 30px;
}

a {
    color:#C0C0C0;
    text-decoration: none;
}

h2 > a {
    border-bottom: 1px black solid;
    padding-right: 34px;
    color: black;
}

.obj {
    text-align: center;
    padding: 4px;
    background-color: greenyellow;
}

.menu li:hover ul {
    display: block;
}

.menu li:hover li {
    display: block;
    margin-left: 23px;
}

.menu ul ul > li:hover {
    background-color: #00A;
}